{
  "useTabs": true,
  "tabWidth": 2,
  "printWidth": 88,
  "singleQuote": true,
  "trailingComma":"es5",
  "bracketSpacing": true,
  "semi": true,
  "endOfLine":"lf",
  "arrowParens":"always",
  "vueIndentScriptAndStyle":false,
  "vueIndentHTML":false
}
